.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    background: #3b82c9; // Fondo oscuro para el contenedor general
}